.MMM-BMWConnected .bmw-wrapper {
  height: 100px;
}
.MMM-BMWConnected .bmw-container {
  width: 320px;
  line-height: 1.50;
  font-size: 20px;
  padding: 0;
  position: relative;
  text-align: left;
}

.MMM-BMWConnected .bmw-container img {
  position: absolute;
  width: 320px;
  top: -45px;
  left: -5px;
}

.MMM-BMWConnected .bmw-container .fas {
  width: 30px;
  text-align: center;
}

.MMM-BMWConnected .bmw-container .locked {
  width: 30px;
  text-align: center;
  margin-right: 30px;
}

.MMM-BMWConnected .bmw-container .mileage {
  float: right;
}

.MMM-BMWConnected .bmw-container .fuelRange {
  float: right;
}

.MMM-BMWConnected .bmw-container .updated {
  font: bold 16px Helvetica, Sans-Serif;
  text-align: left !important;
}
